.access-modal {
	.settings-modal-con {
		.btns-con {
			display: flex;
			flex-direction: column;
			.btn-item {
				width: 100%;
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.img-con {
			display: flex;
			justify-content: center;
			margin-bottom: 15px;
		}
	}
}
