.main-page-con {
	.leaderboard-con {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;

		.tab-main-content {
			display: flex;
			flex-direction: column;
			position: relative;
			height: 100%;
			margin: 15px 0;
			overflow: hidden;

			.bg-img {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
			}

			.main-wrapper {
				display: flex;
				flex-direction: column;
				padding: 15px;
				position: relative;
				z-index: 2;
				flex-grow: 1;
				overflow: auto;

				.heading-con {
					display: flex;
					margin-bottom: 8px;
					padding: 5px 5px 0;
					justify-content: center;
				}

				.referral-stats-con {
					display: flex;
					flex-direction: column;
					width: 100%;
					padding: 16px;
					margin-bottom: 8px;

					.carousel-wrapper {
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 100%;

						.ref-slider {
							width: 100%;
						}

						.stats-item {
							margin: 0 auto 8px;
							padding: 0 14px;
							display: flex;
							justify-content: space-between;
							align-items: center;
							width: 98%;
							height: 41px;
							border: 1px solid #000;
							border-radius: 10px;

							&:last-child {
								margin-bottom: 0;
							}

							.descr {
								display: flex;
								align-items: center;
								font-size: 20px;
								line-height: 24.7px;

								.icon-con {
									margin-right: 10px;
								}
							}
						}
					}

					.carousel-indiacation-con {
						display: flex;
						justify-content: center;
						margin-top: 8px;

						.indicator-item {
							width: 8px;
							height: 8px;
							border-radius: 50%;
							background-color: white;
							margin-right: 8px;
							transition: 0.2s;

							&:last-child {
								margin-right: 0;
							}

							&.active {
								background-color: #009a02;
							}
						}
					}
				}

				.users-list {
					display: flex;
					flex-direction: column;
					flex-grow: 1;
					overflow: hidden;
					padding: 0 15px;

					.global-users-list {
						flex-grow: 1;
						overflow: auto;
						margin-bottom: 8px;
						border-bottom: 1px solid black;

						.title {
							display: flex;
							justify-content: center;
							padding: 22px 0 16px;
							margin-bottom: 16px;
							font-size: 32px;
							line-height: 39.52px;
							border-bottom: 1px solid black;
						}
					}

					.list-item {
						padding: 8px;
						margin-bottom: 8px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						border-radius: 10px;
						height: 48px;
						font-size: 20px;
						line-height: 24.7px;

						&:not(.bordered-green) {
							border: 1px solid #000;
						}

						.main-wrap {
							display: flex;
							align-items: center;

							.place {
								min-width: 30px;
							}

							.name {
								word-break: break-word;

								.level {
									font-size: 12px;
									margin-left: 5px;
								}
							}

							.avatar-con {
								margin: 0 10px;
								width: 32px;
								aspect-ratio: 1;
								border-radius: 5px;
								background-color: white;
								background-repeat: no-repeat;
								background-size: cover;
								background-position: center;
							}
						}
					}
				}
			}
		}

		.close-btn-con {
			display: flex;
			justify-content: center;

			.close-btn {
				padding: 9px 20px;
				font-size: 16px;
				line-height: 19.76px;
			}
		}
	}
}
