.main-page-con {
	.logo-con {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		.img-wrapper {
			position: relative;
			margin-top: -10px;

			.glow {
				position: absolute;
				top: 31%;
				left: 9%;
				width: 82%;
				height: 48%;
				transform: rotate(-4deg);
				z-index: 1;
				box-shadow: 0 0 25px 10px #74ff00;
				animation: 5s glow-opacity ease-in-out infinite;
				@keyframes glow-opacity {
					0%,
					100% {
						opacity: 1;
					}

					50% {
						opacity: 0.3;
					}
				}
			}

			.img-con {
				position: relative;
				z-index: 2;
			}
		}
	}
}
