.main-page-con {
	.nav-panel-con {
		display: flex;
		justify-content: space-between;
		padding: 15px 0 30px;

		.nav-item {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #009a02;
			border: 2px solid #016b0240;
			box-shadow: 0 2px 2.5px #016b02;
			max-width: 64px;
			min-width: 55px;
			width: 19%;
			height: 44px;
			border-radius: 10px;
		}
	}
}
