.main-page-con {
	.tv-con {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 5px;
		padding: 0 15px;
		width: 75%;
		max-width: 600px;

		.tv-img-con {
			display: flex;
			justify-content: center;
			margin: 0 auto;
			position: relative;
			overflow: hidden;
			width: fit-content;

			.triangle-con {
				position: absolute;
				top: -42%;
				left: -13%;
				width: 115%;
				height: 115%;
				pointer-events: none;
			}

			.boost-btn {
				position: absolute;
				top: 15%;
				left: 63%;
			}

			.btn-item {
				position: absolute;
				top: 15%;
				left: 10%;
				padding: 10px;
				font-size: 15px;
				line-height: 1px;
				text-align: center;
				border-radius: 10px;
				color: white;

				&.confirm-btn {
					background-color: #009a02;
					border: 2px solid #016b0240;
					box-shadow: 0 2px 2.5px #016b02;
				}
			}
		}
	}
}
